* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	color: white;
}

header {
	margin: 0px auto;
	max-width: 1400px;
}

.background_header {
	position: absolute;
	margin: 0px auto;
	width: 100%;
}

.title_site {
	position: relative;
	margin-left: 100px;
	top: 40px;
	font-weight: bold;
}
.title_site a {
	color: white;
	text-decoration: none;
}

.liste_menu {
	position: absolute;
	right: 50px;
	margin-top: 20px;
	z-index: 100;
}
.liste_menu li {
	display: inline;
	margin-right: 30px;
	padding-bottom: 10px;
}

.liste_menu a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.liste_menu li:hover {
	border-bottom: 3px solid white;
}

.subtitle_header {
	position: relative;
	margin-top: 180px;
	font-size: 22px;
}

.title_header {
	position: relative;
	margin-top: 20px;
	font-size: 50px;
	font-weight: bold;
}

.btn_header {
	position: relative;
	margin-top: 80px;
	margin-bottom: 140px;
	border:1px solid white;
	color: white;
	background: none;
	padding: 20px 50px;
	transition: .2s all;
	cursor: pointer;
}
.btn_header:hover {
	background: white;
	color: black;
}

main {
	color: black;
}

h1 {
	font-weight: 200;
	margin-bottom: 50px;
	font-size: 40px;
}
.h1_10_margin {
	margin-bottom: 10px;
}

h5 {
	font-weight: normal;
}

.area0_main, .area1_main, .area2_main, .area3_main, .area4_main, .area5_main, .area6_main {
	/*max-width: 800px;*/
	margin: auto;
	padding: 100px;
}

.area0_main {
	padding: 0;
}

.area2_main, .area4_main {
	background: #fafafa;
}

.float_right-img_big {
	float: right;
	margin-left: 50px;
}
.float_left-img_big {
	float: left;
	margin-right: 50px;
}

.img_big {
	font-size: 150px;
	color: #e0e0e0;
}

.area3_main_area {
	box-sizing: border-box;
	margin: 0 15px;
	width: 46%;
	float: left;
	margin-bottom: 30px;
}

.area3_main_area h4 {
	margin-top: 5px;
}

.float_left-img_little {
	float: left;
	margin-right: 20px;
	font-size: 40px;
}

.clear_both {
	clear: both;
}

.circle-icon {
	background: black;
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
	padding: 15px;
	color: white;
}

.tab_clients {
	border-collapse: collapse;
	margin-top: 80px;
}
.area4_cadre {
	background: white;
	border: 1px solid #e9e9e9;
	padding: 40px 50px;
}

.area4_img_bord_g img {
	margin-right: -1px;
}
.area4_img_bord_d img {
	margin-left: -1px;
}

.area4_img_client_g {
	padding-right: 27px;
}

.area4_img_client_d {
	padding-left: 27px;
}

.img_people {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin-top: -20px;
	border: 7px solid white;
}

.area5_main {
	background: black;
	color: white;
}

.grey_color {
	color: #999;
}

.img_team {
	margin: 80px 20px 20px 20px;
	border: 7px solid white;
	border-radius: 50%;
}

.area5_team {
	position: relative;
	width: 100%;
	max-width: 824px;
	margin: auto;
}

.img_team_div {
	float: left;
}

.img_team_div p {
	padding: 0;
	margin: 0;
	width: 200px;
}

.p_strong {
	font-weight: bold;
}

.social_icon {
	display: inline-block;
	margin-top: 5px;
	background: black;
	border: 2px solid white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-size: 12px;
	line-height: 30px;
	vertical-align: middle;
	padding: 5px;
	transition: all .2s;
	cursor: pointer;
}
.social_icon:hover {
	background: white;
	color: black;
}

.p_under_team {
	margin-top: 50px;
	width: 600px;
}

.area6_main {
	background-color: #768fc5;
	color: white;
	padding-bottom: 0;
}

.area6_div {
	width: 50%;
	display: inline-block;
	float: left;
}

.tab_hello {
	margin-top: 50px;
	width: 100%;
}

.icone_center {
	text-align: center;
}

.tab_hello td {
	height: 65px;
}

.area6_div input, textarea {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	width: 100%;
	padding: 15px;
	margin-bottom: 25px;
	border-radius: 5px;
	border: none;
}

.area6_div textarea {
	height: 210px;
}

footer {
	margin-top: 100px;
	padding: 30px;
	border-top: 1px solid rgba(255, 255, 255, .2);
}