* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	color: white;
}

header {
	margin: 0px auto;
	max-width: 1400px;
}

#div_scroll {
	position: fixed;
	/*display: none;*/
	top: 100px;
	left: 10px;
	width: 100px;
	height: 30px;
	color: white;
	background: black;
	z-index: 100;
}

.background_header {
	position: absolute;
	top: 0px;
	margin: 0px auto;
	width: 100%;
}

.div_liste_menu {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	height: 25px;
	padding: 5px;
	z-index: 100;
}
.liste_menu_fixed {
	position: fixed;
	top: 0px;
	background: black;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.liste_menu {
	position: absolute;
	right: 70px;
}

.liste_menu li {
	display: inline;
	margin-right: 30px;
	padding-bottom: 10px;
}

.liste_menu a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.liste_menu li:hover {
	border-bottom: 3px solid white;
}

.title_site {
	position: absolute;
	left: 100px;
	font-weight: bold;
}
.title_site a {
	color: white;
	text-decoration: none;
}

.subtitle_header {
	position: relative;
	margin-top: 180px;
	font-size: 22px;
}

.title_header {
	position: relative;
	margin-top: 20px;
	font-size: 50px;
	font-weight: bold;
	transition: 1s all;
}

.btn_header {
	position: relative;
	margin-top: 80px;
	margin-bottom: 140px;
	border: 1px solid white;
	color: white;
	background: none;
	padding: 20px 50px;
	transition: .5s all;
	cursor: pointer;
}
.btn_header:hover {
	background: white;
	color: black;
}

main {
	color: black;
}

h1 {
	font-weight: 200;
	margin-bottom: 50px;
	font-size: 40px;
}
.h1_10_margin {
	margin-bottom: 10px;
}

h5 {
	font-weight: normal;
}

.area0_main, .area1_main, .area2_main, .area3_main, .area4_main, .area5_main, .area6_main {
	/*max-width: 800px;*/
	margin: auto;
	padding: 100px;
}

.area0_main {
	padding: 0;
}

.area1_main, .area2_main {
	margin-top: 0px;
	opacity: 1;
	transition: 1s all;
}
.hidden_area1 {
	opacity: 0;
	margin-top: -100px;
}

.area2_main, .area4_main {
	background: #fafafa;
}

.float_right-img_big {
	float: right;
	margin-left: 50px;
}
.float_left-img_big {
	float: left;
	margin-right: 50px;
}

.img_big {
	font-size: 150px;
	color: #e0e0e0;
}

.area3_main_area1, .area3_main_area2, .area3_main_area3, .area3_main_area4, .area3_main_area5, .area3_main_area6 {
	box-sizing: border-box;
	margin: 0 15px;
	width: 46%;
	float: left;
	margin-bottom: 30px;
}

.area3_main {
	overflow: hidden;
}

.area3_main h4 {
	margin-top: 5px;
}

.float_left-img_little {
	float: left;
	margin-right: 20px;
	font-size: 40px;
}

.clear_both {
	clear: both;
}

.circle-icon {
	background: black;
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
	padding: 15px;
	color: white;
}

.area3_main_area1, .area3_main_area2, .area3_main_area3, .area3_main_area4, .area3_main_area5, .area3_main_area6 {
	margin-left: 0px;
	margin-top: 0px;
	opacity: 1;
	transform: translateX(0px);
	transition: 1s all;
}
.hidden_area3 {
	opacity: 0;
	transform: translateX(-200px);
}
.hidden_area3_2 {
	opacity: 0;
	transform: translateX(200px);
}

.tab_clients {
	border-collapse: collapse;
	margin-top: 80px;
}
.area4_cadre {
	background: white;
	border: 1px solid #e9e9e9;
	padding: 40px 50px;
}
.area4_cadre_p1, .area4_cadre_p2 {
	opacity: 1;
	transition: 1s all;
}
.p_people_hidden {
	opacity: 0;
}

.area4_img_bord_g img {
	margin-right: -1px;
}
.area4_img_bord_d img {
	margin-left: -1px;
}

.area4_img_client_g {
	padding-right: 27px;
}

.area4_img_client_d {
	padding-left: 27px;
}

.img_people1, .img_people2 {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin-top: -20px;
	border: 7px solid white;
	transform: scale(1);
	transition: 1s all;
}
.img_people_hidden {
	transform: scale(0);
}

.div_mind_source {
	color: #768fc5;
	font-size: 12px;
}


.img_sponsor1, .img_sponsor2, .img_sponsor3, .img_sponsor4 {
	transform: scale(1);
	transition: 1s all;
}
.img_sponsor_hidden {
	transform: scale(0);
}

.area5_main {
	background: black;
	color: white;
}

.grey_color {
	color: #999;
}

.img_team1, .img_team2, .img_team3 {
	margin: 80px 20px 20px 20px;
	border: 7px solid white;
	border-radius: 50%;
	transition: 1s all;
	transform: scale(1);
}
.img_team_hidden {
	transform: scale(0);
}

.area5_team {
	position: relative;
	width: 100%;
	max-width: 824px;
	margin: auto;
}

.img_team_div {
	float: left;
}

.img_team_div p {
	padding: 0;
	margin: 0;
	width: 200px;
}

.p_strong {
	font-weight: bold;
}

.social_icon {
	display: inline-block;
	margin-top: 5px;
	background: black;
	border: 2px solid white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-size: 12px;
	line-height: 30px;
	vertical-align: middle;
	padding: 5px;
	transition: all .2s;
	cursor: pointer;
}
.social_icon:hover {
	background: white;
	color: black;
}

.p_under_team {
	margin-top: 50px;
	max-width: 600px;
	width: 100%;
}

.area6_main {
	background-color: #768fc5;
	color: white;
	padding-bottom: 0;
}

.area6_div {
	width: 50%;
	min-width: 400px;
	display: inline-block;
	float: left;
}

.tab_hello {
	margin-top: 50px;
	width: 100%;
}

.icone_center {
	text-align: center;
}

.tab_hello td {
	height: 65px;
}

.area6_div input, textarea {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	width: 100%;
	padding: 15px;
	margin-bottom: 25px;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 10px rgba(0,0,0,0);
	outline: none;
	transition: .5s all;
}
.area6_div input:focus, textarea:focus {
	box-shadow: 1px 1px 10px rgba(0,0,0,.7);
}

.area6_div textarea {
	height: 210px;
}

footer {
	margin-top: 100px;
	padding: 30px;
	border-top: 1px solid rgba(255, 255, 255, .2);
}